@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cookie', cursive;
    /*background-color: #faafd3;*/
    background-color: #f8c4dc;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background-image: url("./images/glitter.jpg");-->*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo{
    position: relative;
    color: #fff;
    background: #e774b0;
    font-size: 30px;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 444;
    letter-spacing:1px;
    border-radius: 20px;
}

header .navigation a{
    color: #fff;
    background: #c83c84;
    text-decoration: none;
    font-weight: 600;
    letter-spacing:2px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background:#e774b0;
}

.wrap{
    display: flex;
    align-items: center;
}

.image{
    max-width: 250px;
}

.image img{
    width: 100%;
    object-fit:cover;
}

.title{
    max-width: 650px;
    margin: 60px 100px;
}

.title h2{
    color:#c83c84;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 40px;
    background-color: transparent;
}

.info h3{
    margin-top: 15px;
    color:#c83c84;
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 35px;
    background-color: transparent;

}
.title h2 span{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;

}

.info  p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
    color:#e774b0;
    background-color: transparent;

}
.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;

}

.btn .info-btn{
    color: #fff;
    background: #e774b0;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
    transition-property: background;
    background-color: #c83c84;


}

.btn .info-btn:hover{
    background: #e774b0;
}

.media h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #c83c84;
    text-align: center;
}
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}


.media-icons a{
    position: relative;
    font-size: 45px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
}

.ep-deets h2{
    margin-top: 70px;
    color: #e774b0;
    font-size: 45px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.latest-ep1, .latest-ep2, .latest-ep3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.book-cover1, .book-cover2, .book-cover3{
    max-width: 120px;
    color: #e774b0;
}

.book-cover1 img, .book-cover2 img, .book-cover3 img{
    width: 100%;
    object-fit:cover;
}

.ep-info1, .ep-info2, .ep-info3{
    margin-right: 10px;
}
.ep-info1 h2, .ep-info2 h2, .ep-info3 h2{
    margin-top: 20px;
    font-size: 30px;
    text-align: justify;
    color: #c83c84;
    margin-bottom: 20px;
}

.ep-info1 p, .ep-info2 p, .ep-info3 p{
    margin-top: 10px;
    font-size: 25px;
    max-width: 700px;
    text-align: justify;
    color: #e774b0;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c83c84;
    color: #f8c4dc;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e774b0;
}

footer {
    text-align: center;
    padding: 10px 15px;
    color: #c83c84;
    font-size: 30px;
    margin-bottom: 15px;
}